<table class="tui-calendar-body-inner" cellspacing="0" cellpadding="0">
    <caption><span>Dates</span></caption>
    <thead class="tui-calendar-body-header">
        <tr>
            <th class="tui-sun" scope="col">{{Sun}}</th>
            <th scope="col">{{Mon}}</th>
            <th scope="col">{{Tue}}</th>
            <th scope="col">{{Wed}}</th>
            <th scope="col">{{Thu}}</th>
            <th scope="col">{{Fri}}</th>
            <th class="tui-sat" scope="col">{{Sat}}</th>
        </tr>
    </thead>
    <tbody>
        {{#[../helpers/weeks] year month}}
            <tr class="tui-calendar-week">
                {{#[../helpers/week] year month dates}}
                    <td class="{{className}}" data-timestamp="{{timestamp}}">{{dayInMonth}}</td>
                {{/[../helpers/week]}}
            </tr>
        {{/[../helpers/weeks]}}
    </tbody>
</table>
